<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 70%;margin: auto">
    <p>
        <img src="../static/5871594a511c32bd549d2c1f8c6931c.png">
    </p>
    <div style="size: 50px;clear: both">
        <div style="font-size: 30px">
            【TEDtalk_insight】
        </div>
    </div>
    <div style="float: left;width: 70%">
        <p style="text-indent:2em">研究背景：TED由Richard
            Saulman创立于1984年，是一家旨在将技术(technology)，娱乐(entertainment)和设计(design)领域的专家聚集在一起的非盈利组织。Ted的口号是"Ideas worth
            spreading"，也就是“值得传播的思想”。主要研究数据集其中包含了2017年9月21日之前上传到官方网站TED.com的所有TED Talks演讲录制信息。</p>
    </div>
    <div style="size: 50px;clear: both"><b>
        数据分析展示
    </b></div>
    <div style="font-size: 15px">
        <style>
            a:link {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
            }

            a:visited {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
            }

            a:hover {
                font-size: 12px;
                color: #999999;
                text-decoration: underline;
            }
        </style>
        <a href="/line">TED数据分析</a>
        <div></div>
        <a href="/123">TED数据筛选</a>
    </div>
</div>
</body>
</html>